---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Nuestro Blog - MiBlog">
	<h1>Nuestro Blog</h1>
	<h2>Artículos</h2>
	<ul>
		<li><a href="/posts/post-1">Mi post 1</a></li>
		<li><a href="/posts/post-2">Mi post 2</a></li>
		<li><a href="/posts/post-3">Mi post 3</a></li>
	</ul>
	<p>Esto es un párrafo</p>
</Layout>
