---
const  facebook = "facebook";
const x = "x";
import "../styles/style.css";
import Navigation from "../components/Navigation.astro";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Nuestro Blog</title>
	</head>
	<body>
		<Navigation />

		<h1>Nuestro Blog</h1>
		<h2>Artículos</h2>
		<ul>
			<li><a href="/posts/post-1">Mi post 1</a></li>
			<li><a href="/posts/post-2">Mi post 2</a></li>
			<li><a href="/posts/post-3">Mi post 3</a></li>
		</ul>
		<p>Esto es un párrafo</p>
	</body>
</html>
