---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Inicio - MiBlog">
	<div class="hero">
		<h1 class="hero-title">Recetas Familiares</h1>
		<p class="hero-subtitle">Comida Orgánica y Saludable</p>
		<br />
		<p class="hero-desc">Ambiente acogedor para toda la Familia</p>
	</div>
</Layout>
