---
const facebook = "facebook";
const x = "x";
---

<footer>
    copyright MiBlog - Presente en las redes sociales: <a
        href={`https://www.${facebook}.com/`}>Facebook</a
    > | <a href={`https://${x}.com/`}>X</a>
</footer>
