---
const facebook = "facebook";
const x = "x";
---

<footer>
    copyright MiBlog - Presente enlas redes sociales: <a
        href={`https://www.${facebook}.com/`}>Facebook</a
    > | <a href={`https://www.${x}.com/`}>X</a>
</footer>
